.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #0F13F5;
	background-color: #f2dede;
	border-color: #ebccd1;
}


#tags{
  float:left;
  border:1px solid #ccc;
  padding:5px;
  font-family:Arial;
}

#tags span{
  cursor:pointer;
  display:block;
  float:left;
  color:#fff;
  background:#789;
  padding:5px;
  padding-right:25px;
  margin:4px;
}

#tags span:hover{
  opacity:0.7;
}

#tags span:after{
 position:absolute;
 content:"×";
 border:1px solid;
 padding:2px 5px;
 margin-left:3px;
 font-size:11px;
}

#tags input{
  background:#eee;
  border:0;
  margin:4px;
  padding:7px;
  width:auto;
}


.container {
    z-index: 2;
    position: absolute;
}

.tagSearches{
	font-style: italic ;
}

#myMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	position: fixed;
    top: 0;
    width: 10%;
	height: 100%;
    background-color: #e9e9e9;
}



select {
   height: 34px;
   background: white;
   width: 240px;
   height: 29px;
   overflow: hidden;
   width: 240px;
   border-radius: 8px;
}

#reviews {
 	font-style: italic;
}

#separate ul {
    list-style-type: none;
    margin: 0;
	padding: 0;
	top: 248px;
    overflow: hidden;
	position: relative;
    width: 10%;
	height: 50%;
	box-shadow: 0px 0px 0px 2px #888888 ;
    background-color: #e9e9e9;
}

#separate li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	text-shadow: 0.5px 0.5px #a8a8a8;
}

#separate li a:hover:not(.active) {
    background-color: #f6f6f6 ;
	box-shadow: 2px 2px 2px 2px #888888;	
}


#myMenu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
	border: 0.5px solid #e0e0e0;
    text-decoration: none;
	text-shadow: 0.5px 0.5px #a8a8a8;
}

#myMenu li a:hover:not(.active) {
    background-color: #f6f6f6 ;
    background-image:url(../images/arrow-right.gif);
	background-repeat: no-repeat;
	background-position: center left;
 
    display:block;
}


#myMenu{
	max-width: 15% !important;
}

#theI_Frame {
  height: 800px !important;
  width: 850px !important;
  resize: none;
  overflow-x: scroll;
  overflow-y: hidden !important;
}


activeSel{
	background-color: #f6f6f6 !important;
}

.ui-dialog-title{
	margin-left: 24px !important;
}

.ui-widget-header,.ui-state-default, ui-button{
		background: #c3c3c3;
		border: 1px solid #c3c3c3;
		color: black;
		font-weight: normal;
		text-shadow: 1px 1px 1px #a8a8a8 !important;
       border-radius: 10px 10px 0px 0px;
	 }
	 
 .ui-dialog{
	 background-color:#ebebeb !important;
	box-shadow: 10px 10px 5px #888888 !important;
	border: 1px solid #c3c3c3;
	font-weight: normal;
	text-shadow: 0.5px 0.5px #a8a8a8;
	border-radius: 10px;
 }

 
input[type="submit"]:disabled {
	background-color: #fafafa;
	color:#696969;
}

input[type="button"]:disabled {
	background-color: #fafafa;
	color:#696969;
	box-shadow: -2px -2px 2px 2px #888888 inset;
}

input[type="button"]:disabled:hover {
	background-color: #fafafa;
	color:#696969;
}


input[type="button"]:hover {
	background-color: #17acdb;
}

input[type="submit"]:disabled:hover {
	background-color: #fafafa;
	color:#696969;
}


input[type="submit"]:hover {
	background-color: #17acdb;

}

input[type="submit"]{
	
	padding: 10px 15px 11px !important;
	font-size: 14px !important;
	background-color: #3bbde5;
	font-weight: normal;
	color: #f1f1ff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #3232ff;
	cursor: pointer;
	box-shadow: -5px -5px- 5px -5px #3838cc inset;
	text-shadow: 1px 1px #a8a8a8;
}

input[type="button"]{
	
	padding: 10px 15px 11px !important;
	font-size: 14px !important;
	background-color: #3bbde5;
	font-weight: normal;
	color: #f1f1ff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #3232ff;
	cursor: pointer;
	box-shadow: -5px -5px- 5px -5px #3838cc inset;
	text-shadow: 1px 1px #a8a8a8;
}

button{
	
	padding: 10px 15px 11px !important;
	font-size: 14px !important;
	background-color: #3bbde5;
	font-weight: normal;
	font-style: normal !important;
	color: #f1f1ff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #3232ff;
	cursor: pointer;
	box-shadow: -5px -5px- 5px -5px #3838cc inset;
	text-shadow: 1px 1px #a8a8a8;
}


button:disabled:hover {
	background-color: #fafafa;
	color:#696969;
}

button:disabled {
	background-color: #fafafa;
	color:#696969;
	box-shadow: -2px -2px 2px 2px #888888 inset;
}

button:hover {
	background-color: #17acdb;
}

.resetSearch{
  background-color:#a3a3cc !important;
}

.resetSearch:hover {
	background-color: #8e8eb2 !important;
}




.myUserIcon{
	content: date-circle.png
}

input[type="password"]{
  padding: 5px;
    border-right: none !important;
  border: solid 1.5px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
 border-radius: 7px 0px 0px 7px;
}

input[type="text"]{
  padding: 5px;
  border-right: none !important;
  border: solid 1.5px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  border-radius: 7px 0px 0px 7px ;
}

.usernameInput {
  padding: 5px;
  border-right: none !important;
  border: solid 1.5px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  border-radius: 7px 0px 0px 7px;
}


 .iconspan {
    float: right;
    margin-right: 43px;
    margin-top: -1px;
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding: 6px;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}

.iconspan2{
	 float: center;
    margin-right: 7px;
    margin-top: -1px;
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding: 8px;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}

.iconspan3{
	 float: right;
    margin-right: 7px;
    margin-top: -1px;
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding: 8px;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}

.iconspan4{
	 float: right;
    margin-right: 282px;
    margin-top: -1px;
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding: 8px;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}

.iconspan5{
	 float: right;
    margin-right: 14px;
    margin-top: -1px;
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding-top: 100px;
	padding-left: 8px;
	padding-right: 8px;
	height: 213px;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}



textarea{
  padding: 5px;
  border: solid 1.5px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  border-radius: 7px 0px 0px 7px ;
}


 input[type="text"]:focus,
 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

h3{
	text-shadow: 1.5px 1.5px #a8a8a8;
}

h4{
	text-shadow: 1px 1px #a8a8a8;
}

table, th, td {
	padding: 5px;
	text-shadow: 0.5px 0.5px #a8a8a8;
}

tr:nth-child(odd)		{ background-color:#f1f1f1; }
tr:nth-child(even)		{ background-color:#e9e9e9; }

#login-box {
	width: 400px;
	padding: 10px;
	margin: 20px auto;
	background: #fff;
	background-color: #ededed;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 10px 5px #888888;
}

#search-box{
	
	width: 766px !important;
	padding: 20px;
	margin: 40px auto;
	background: #fff;
	background-color: #ededed;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px 10px 10px 10px;
}

#resultsSection{
	visibility:hidden;
	width: 766px !important;
	padding: 20px;
	margin: 40px auto;
	background: #fff;
	background-color: #ededed;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px 10px 10px 10px;
}

#add-book-box{
	
	width: 425px !important;
	padding: 20px;
	margin: 40px auto;
	background: #fff;
	background-color: #ededed;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px 10px 10px 10px;
}


.ajax-loader-2{
	width: 40px !important;
	height: 40px !important;
	background-image:url(../images/ajax-loader-2.gif)}

#add-reviews-box{
	
	width: 766px !important;
	padding: 20px;
	margin: 40px auto;
	background: #fff;
	background-color: #ededed;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 10px 5px #888888;
}

#reviews-box {
	min-width: 50%;
	max-width: 50%;
	padding: 20px;
	margin: 40px auto;
	background: #fff;
	background-color: #ededed;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 10px 5px #888888;
}


  /* ToolTip CSS classses */ 
.tooltip {
display: inline-block;    
}

.tooltip .tooltiptext {
    margin-left:9px;
    width : 320px;
    visibility: hidden;
    background-color: #FFF;
    border-radius:4px;
    border: 1px solid #aeaeae;
    position: absolute;
    z-index: 1;
    padding: 5px;
    margin-top : -15px; /* according to application */ 
   opacity: 0;
    transition: opacity 1s;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 5%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #aeaeae transparent transparent;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}